{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Dorsualnotizen-Checker</title>
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'dorsual/functions.js' %}"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
	</head>
	<body>
		<div class="container-fluid text-light">
		  	<div class="row bg-secondary p-4">
		  		<div class="col">
		  			<form id="loginForm" class="form-inline">
					  	<label for="email" class="mr-sm-2">Email-Adresse:</label>
					  	<input type="email" class="form-control mb-2 mr-sm-2" id="email" name="email">
					  	<label for="pwd" class="mr-sm-2">Passwort:</label>
					  	<input type="password" class="form-control mb-2 mr-sm-2" id="pwd" name="pwd">
					  	<button type="button" id="loginBtn" class="btn btn-primary mb-2">Login</button>
					</form> 
		  		</div>
		  		<div class="col">
		  			<form id="filterForm" class="form-inline">
			  			<!-- <select id="coll_select" name="coll" class="form-control mb-2 mr-sm-2 col-4">
	                        <option value="None" selected disabled>Einloggen zum Wählen der Collection</option>
	                    </select> -->
	                    <select id="coll_select" name="coll" class="selectpicker form-control mb-2 mr-sm-2" multiple data-selected-text-format="count">
						</select>
			  			<select id="dorsNote" name="dorsualNotizFilter" class="selectpicker form-control mb-2 mr-sm-2">
	                        <option value="None" disabled selected>Wähle Notiztyp</option>
	                        <option value="">Kein Typ</option>
	                        <option value="All">Alle Typen</option>
				<option value="Archivbeschriftung">Archivbeschriftung divers</option>
				<option value="Auftakt">Auftaktzeichen</option>
				<option value="Brief">Brief</option>
				<option value="Datierung_divers">Datierung divers</option>
				<option value="Datierung_Urkunde">Datierung Urkundenwortlaut</option>
				<option value="Doppel">Doppelaufstrich</option>
				<option value="Eckig">Eckig</option>
				<option value="Fricker">Fricker</option>
				<option value="HGA_Stempel">HGA Stempel</option>
				<option value="Dorsual_Jahreszahl-Eins">Zahl (1)</option>
	                        <option value="Dorsual_Jahreszahl-Zwei">Zahl (2)</option>
	                        <option value="Dorsual_Jahreszahl-Drei">Jahreszahl dreistellig</option>
	                        <option value="Dorsual_Jahreszahl-Vier">Jahreszahl vierstellig</option>
				<option value="Kanzleihand">Kanzleihand-Hofmeisterei</option>
				<option value="Kopie">Kopieverweis</option>
				<option value="Kurrent">Kurrent</option>
				<option value="Latein_1">Latein</option>
				<option value="Latein_3">Latein divers</option>
				<option value="Latein_2">Latein Franziskaner</option>
				<option value="Lokatur">Lokaturverweis</option>
				<option value="Notariat">Notariatsvermerk Papsturkunden</option>
				<option value="Dorsual_Nummer">Nummer</option>
				<option value="Rechnungsbuch">Rechnungsbuch-Hofmeister</option>
				<option value="Dorsual_Regesta">Regesta</option>
				<option value="Sammelschicht_nach">Sammelschicht nach 1600</option>
				<option value="Schraeg">Schräg, regelmässig</option>
	            <option value="Dorsual_Sigle">Sigle Bern</option>
				<option value="Speziell">Speziell</option>
				<option value="StAAG_modern">StAAG modern</option>
				<option value="Dorsual_StAAG">StAAG Signatur</option>
				<option value="Dorsual_StAAG-Stempel">StAAG Stempel</option>
				<option value="Dorsual_Textualis">Textualis, Orte und Siglen</option>
				<option value="uber_1">ùber (Besitz Agnes)</option>
				<option value="uber_2">ùber (Nicht Besitz Agnes)</option>
				<option value="uber_3">ùber nach 1380</option>
				<option value="uber_4">ùber 4</option>
				<option value="uber_5">ùber 5</option>
				<option value="Unleserlich">Unleserlich</option>
				<option value="Unsicher">Unsicher</option>
			</select>
	                    <button type="button" id="goBtn" class="btn btn-primary mb-2 mr-sm-2">
	                    	<span id="loadingSpinner"></span>
	                    	Los!
	                	</button>
	                    <select id="alreadyProcessed" name="alreadyProcessedFilter" class="selectpicker form-control mb-2 mr-sm-2">
	                        <option value="not_checked_only" selected>Ignoriere schon korrigierte</option>
	                        <option value="all">Zeige alle</option>
	                        <option value="checked_only">Zeige nur korrigierte</option>
	                        <option value="correct_only">Zeige nur korrekte</option>
	                        <option value="wrong_only">Zeige nur falsche</option>
	                    </select>
		            </form>
		  		</div>
		  	</div>

		  	<div class="row">
		  		<div class="col" id="container"></div>
		  	</div>
		</div>
	</body>
</html>

