body {
    /*background-color: #465bc5; */
    background-color: white;
    font-family: Andale Mono, monospace;
}

#allContainer {
    height: 94vh;
    width: 96vw;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vh;
}

#headerContainer {
    height: 8%;
    width: 97.5%;
    /* background-color: #7c8dde; */
    background-color: lightgrey;
    float: left;
    display: inline-block;
    padding: 0.5%;
    padding-left: 1%;
    margin: 0.5%;
    border-radius: 25px;
}

#userinputContainer, #drawingContainer, #exampleContainer {
    /*height: 88%; */
    width: 32.3333333333333333333333333333333333333333333333%;
    padding-top: 31.333%;

    /* background-color: #7c8dde; */
    background-color: lightgrey;
/*
    background-color: #F5DEB3;
*/
    float: left;
    display: inline-block;
    border-color: black;
    /*padding: 0.5%; */
    margin: 0.5%;
    border-radius: 25px;
    text-align: center;
    position: relative;
}

#myCanvas {
    width: 80%;
    height: 80%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    bottom: 0;
    right: 0;
}

#exampleShield {
    width: 95%;
    height: 95%;
    position: absolute;
    top: 0;
    left: 2.5%;
    bottom: 5%;
    right: 2.5%;
}

textarea {
    font-size: 1.2vw;
    height: 90%;
    width: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
}

#gibblason {
    font-size: 1vw;
}

#updateBlaz {
    height: 90%;
    width: 70%;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
}

#getclue {
    height: 90%;
    width: 20%;
    position: absolute;
    top: 5%;
    left: 75%;
    right: 5%;
    bottom: 5%;
}

#gibblason-div {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 80%;
}

#textarea-div {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    bottom: 20%;
}

#updateBlaz-div {
    position: absolute;
    top: 80%;
    left: 10%;
    right: 10%;
    bottom: 10%;
}

#exampleShield-div {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 20%;
}

#getRandomShieldButton-div {
    position: absolute;
    top: 80%;
    left: 10%;
    right: 10%;
    bottom: 10%;
}

#getRandomShieldButton {
    height: 90%;
    width: 75%;
    position: absolute;
    top: 5%;
    left: 0%;
    right: 5%;
    bottom: 5%;
}

#getSource {
    height: 90%;
    width: 25%;
    position: absolute;
    top: 5%;
    left: 75%;
    right: 0%;
    bottom: 5%;
}