{% load static %}

<meta charset="utf-8">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'heraldik/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'heraldik/libs/paperjs-v0.11.5/dist/paper-full.min.js' %}"></script>
    <script src="{% static 'heraldik/functions.js' %}"></script>
    <title>Blasonierungsübung</title>
</head> 


<body>
    <div id="allContainer">
        <div id="headerContainer">
            <h2>Blasonierungsübung</h2>
        </div>
        <div id="userinputContainer">
            <div id="gibblason-div">
                <p id="gibblason">Gib Deine Blasonierung hier ein:</p>
            </div>
            <div id="textarea-div">
                <textarea id="blasonierung" autofocus></textarea> 
            </div>
            <div id="updateBlaz-div">
                <button id="updateBlaz">Überprüfe Blasonierung</button>
                <button id="getclue">Tipp</button>
            </div>
        </div>
        
        
        <div id="drawingContainer">
            <canvas id="myCanvas"></canvas>
        </div>
        
        
        <div id="exampleContainer">
            <div id="exampleShield-div">
                <!-- <img id="exampleShield" src="{% static 'heraldik/images/example.jpg' %}"/> -->
                <img id="exampleShield" src="http://wappen.khi.fi.it/Plone/bilder/thumbs/flb000001_0155.jpg/image"/>
            </div>
            <div id="getRandomShieldButton-div">
                <button id="getRandomShieldButton">Neue Aufgabe</button>
                <button id="getSource">Quelle</button>
            </div>
        </div>
    </div>
</body>
